.caretIcon {
    color: var(--primary-font-color);
}

.dropDownBox,
.label {
    display: block;
}
.label {
    font-size: var(--font-size-secondary);
    font-weight: 600;
    margin-bottom: 5px;
}

.helperText {
    font-size: var(--font-size-tertiary);
    margin-top: 2px;
    font-weight: 400;
    color: var(--tertiary-font-color);
}

.dropDownBox {
    height: var(--input-field-height);
    width: 100%;
    border: 1px solid var(--border-darker-color);
    border-radius: var(--border-radius);
    transition: all var(--transition-duration);
    cursor: pointer;
    font-size: var(--font-size-secondary);
    font-weight: 400;
}

.dropDownBox:hover {
    border-color: var(--border-accent-color);
}

.dropDownSelect {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDownList {
    margin-top: 5px;
    border: 1px solid var(--border-darker-color);
    border-radius: var(--border-radius);
    user-select: none;
    z-index: 999;
    font-size: var(--font-size-secondary);
    font-weight: 400;
    visibility: hidden;
    overflow-y: auto;
    background-color: var(--primary-background-color);
}

.dropDownList.active {
    animation: fade_in_show var(--transition-duration);
    visibility: visible;
    height: 140px;
}

.dropDownList.inactive {
    animation: fade_out_hide var(--transition-duration);
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade_out_hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.dropDownItem {
    width: 100%;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-background-color);
}

.dropDownItem:hover {
    background-color: var(--secondary-background-color);
}
