.horizontalRuleWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.horizontalRule {
    border-width: 1px;
    border-color: var(--secondary-font-color);
    border-style: solid;
    height: 1px;
    display: block;
    border-radius: 5px;
}