.billWrapper {
    width: 100%;
    min-height: 1000px;
    background: white;
    box-shadow: 0 0 10px 0 gray;
    padding: 25px;
    border-radius: 3px;
}

.billHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.storeDetailsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.storeLogo {
    width: 60px;
    height: auto;
    filter: grayscale(100%);
}

.storeDetails {
    margin-left: 20px;
    max-width: 250px;
}

.storeName {
    font-size: var(--font-size-header);
    font-weight: bold;
    margin-bottom: 2px;
}

.storeAddress {
    font-size: var(--font-size-secondary);
    line-height: 22px;
}

.billInvoiceDetailsWrapper {
    width: 220px;
}

.billInvoiceDetails {
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: var(--font-size-secondary);
}

.billInvoiceDetailsTitleHolder {
    text-align: left;
}

.billInvoiceDetailsValueHolder {
    text-align: right;
}

.dashedBorder {
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted black;
}

.billSubTitle {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0;
}

.customerDetailsWrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.customerDetail {
    width: 150px;
    height: auto;
}

.customerDetailsTitle {
    font-size: 12px;
    padding: 6px 0;
}

.customerDetailsValue {
    font-size: 11px;
    line-height: 18px;
}

.billTableWrapper {
    margin: 8px 0;
}

.billTableNode {
    display: grid;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
}

.billTableNodeHead {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.billTableNodeContent {
    font-size: 11px;
    font-weight: normal;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.purchaseInvoiceTable {
    grid-template-columns: 30px 180px repeat(6, 1fr);
}

.taxSplitupTable {
    grid-template-columns: 1fr 200px repeat(2, 1fr);
}

/* adverts and thank message - subtotal section */

.advertisementAndGrandTotalWrapper {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    margin: 20px 0;
}

.advertisementHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

.grandTotalWrapper {
    display: block;
}

.grandTotalHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3px 0;
    font-size: 11px;
}

.grandTotalTitle {
    font-weight: bold;
    text-align: left;
}

.grandTotalValue {
    font-weight: normal;
    text-align: right;
}

.grandTotalLarge {
    font-size: 14px;
}

/* terms and conditions / signature area */
.termsAndSignatureWrapper {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}

.termsAreaHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(128, 128, 128, 0.3);
    font-size: 11px;
    padding: 10px;
    line-height: 20px;
}

.termsAreaTitle {
    font-size: 12px;
    font-weight: bold;
}

.signatureAreaHolder {
    height: 100px;
    padding: 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}