.sliderModalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    visibility: hidden;
    transition: background-color 0.2s ease-out;
}

.sliderModalWrapperBackdrop {
    visibility: visible;
    background-color: var(--overlay-color);
}

.sliderContentWrapper {
    position: absolute;
    height: 100%;
    right: -100%;
    transition: right 0.3s ease-out;
    overflow-y: auto;
}

.sliderContentActive {
    right: 0;
}
