.billingSetupWrapper {
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 55%;
}

.billingConfigurationSection {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.billPreviewSection {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    height: 100%;
    background: $tertiary-background-color;
}

.billPreview {
    width: 80%;
    height: auto;
}
