.button {
    padding: 0.8em 1em;
    text-decoration: none;
    border: 1px solid;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--secondary-font-color);
    font-size: var(--font-size-secondary);
    font-weight: 500;
    opacity: 1;
    transition: opacity var(--transition-duration);
}

.button:hover {
    opacity: 0.9;
}

.button:focus {
    /* outline: 0; */
}
