button {
    padding: 0.8em 1em;
    text-decoration: none;
    transition: all var(--transition-duration);
    border: 1px solid;
    border-radius: var(--border-radius);
}

/* BUTTON VARIANTS */
.default {
    color: var(--default-color);
    background-color: var(--default-color);
    border-color: var(--default-color);
}
.default:hover {
    color: var(--default-light-color);
    background-color: var(--default-light-color);
    border-color: var(--default-light-color);
}
.success {
    color: var(--success-color);
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.success:hover {
    color: var(--success-light-color);
    background-color: var(--success-light-color);
    border-color: var(--success-light-color);
}
.warning {
    color: var(--warning-color);
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}
.warning:hover {
    color: var(--warning-light-color);
    background-color: var(--warning-light-color);
    border-color: var(--warning-light-color);
}
.danger {
    color: var(--danger-color);
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
.danger:hover {
    color: var(--danger-light-color);
    background-color: var(--danger-light-color);
    border-color: var(--danger-light-color);
}

/* BUTTON TYPES */
.solid,
.solid:hover {
    color: var(--white-color);
}

.line,
.line:hover {
    background-color: transparent;
}

.link,
.link:hover {
    background-color: transparent;
    border-color: transparent;
}

.icon,
.icon:hover {
    color: var(--white-color);
}

/* SHAPE TYPES */
.rounded {
    border-radius: var(--rounded-border-radius);
}

/* TEXT TYPES */
.darkText,
.darkText:hover {
    color: var(--black-color);
}

.icon {
    padding-right: 10px;
}
