.statusFlagDiv {
    width: 120px;
    height: 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-size-default);
    font-weight: 500;
}

.spot {
    height: 14px;
    width: 14px;
    background-color: var(--success-color);
    border-radius: 50%;
    display: inline-block;
}

.successSpot {
    background-color: var(--success-color);
}

.pendingSpot {
    background-color: var(--warning-color);
}

.failedSpot {
    background-color: var(--danger-color);
}
