.addProductWrapper {
    width: 100%;
    height: 100%;
    background: var(--primary-background-color);
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    padding: 0 30px;
}

.addProductHeader {
    color: var(--primary-font-color);
    font-size: var(--font-size-header);
    background-color: var(--primary-background-color);
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addProductBody {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroupSplitEqual {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.addProductFooter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
