.pageWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    background: $primary-background-color;

    grid-template-rows: 40px 1fr 50px;
}

.pageTitleBar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    background-color: $primary-background-color;
    color: $primary-font-color;
    font-weight: 600;
    font-size: $font-size-header;
}

.pageBody {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroupSplitEqual {
    display: grid;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.pageFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    width: 100%;
    height: 100%;

    gap: 5px;
}

.loadingOverlay {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
}
