.alertMessageWrapper {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: var(--font-size-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    color: var(--primary-font-color);
    transition: all var(--transition-duration);
}

.infoAlert {
    border-color: var(--info-color);
    background-color: var(--info-accent-color);
}

.infoIcon {
    color: var(--info-color);
}

.successAlert {
    border-color: var(--success-color);
    background-color: var(--success-accent-color);
}

.successIcon {
    color: var(--success-color);
}

.warningAlert {
    border-color: var(--warning-color);
    background-color: var(--warning-accent-color);
}

.warningIcon {
    color: var(--warning-color);
}

.dangerAlert {
    border-color: var(--danger-color);
    background-color: var(--danger-accent-color);
}

.dangerIcon {
    color: var(--danger-color);
}

.alertContentItem {
    display: inline;
    vertical-align: text-top;
    margin-right: 10px;
}

.alertActionButton {
    position: relative;
}