.tabBar {
    height: 100%;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: var(--primary-background-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0px 25px;
}

.tabTitle {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: var(--font-size-default);
    cursor: pointer;
    color: var(--primary-font-color);
    transition: color var(--transition-duration);
}

.selectedTab {
    color: var(--sales-color);
}
