.dashboardWrapper {
    width: auto;
    max-width: 100vw;
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 240px 1fr;
}

.leftNavWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mainBodyWrapper {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px;
}
