.disableButton {
    opacity: 0.7;
    pointer-events: none;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.salesColor {
    color: $sales-color;
}

.inventoryColor {
    color: $inventory-color;
}

.billingColor {
    color: $cashregister-color;
}

.defaultColor {
    color: $tertiary-font-color;
}
