@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 0.2rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
