@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

:root {
    /* colors */
    --primary-color: #172b4d;
    --primary-light-color: #283c5e;
    --secondary-color: #007ea7;
    --seconday-light-color: #128fb8;
    --danger-color: #9e4770;
    --danger-light-color: #af5881;
    --warning-color: #ffd166ff;
    --warning-light-color: #ffda85;
    --success-color: #3ab795ff;
    --success-light-color: #4bc8a6;
    --white-color: #ffffff;
    --accent-white-color: #edeeef;
    --black-color: #000000;
    --disabled-color: #d3d3d3;
    --disabled-darker-color: #a0a0a0;
    --default-color: #657ed4;
    --default-light-color: #849ce9;

    /* backgrounds */
    --primary-background-color: #ffffff;
    --secondary-background-color: #f3f3f3;
    --tertiary-background-color: #f1f3f9;

    /* icons color */
    --sales-icon-color: #7764e4;
    --inventory-icon-color: #f53c56;
    --cashregister-icon-color: #11cdef;

    /* font-size variables - goes from large to small - use this var in all font related content inside components */
    --font-size-master: 26px;
    --font-size-master-sub: 24px;
    --font-size-header: 20px;
    --font-size-default: 16px;
    --font-size-secondary: 14px;
    --font-size-tertiary: 12px;

    /* font colors */
    --primary-font-color: #000;
    --secondary-font-color: #8898aa;

    /* values */
    --border-radius: 0.2rem;
    --rounded-border-radius: 50px;
    --transition-duration: 0.3s;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--disabled-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--disabled-darker-color);
    border-radius: var(--border-radius) var(--border-radius);
}
