@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

:root {
    /* section colors */
    --sales-color: #3f51b5;
    --inventory-color: #ff5722;
    --cashregister-color: #2196f3;

    /* mood colors */
    --success-color: #4caf50;
    --success-accent-color: #5dbf61;
    --warning-color: #ffc107;
    --warning-accent-color: #ffd218;
    --danger-color: #f44336;
    --danger-accent-color: #f55447;
    --disabled-color: #a0a0a0;
    --disabled-accent-color: #b1b1b1;

    /* element colors */
    --border-color: #a0a0a0;

    /* backgrounds */
    --primary-background-color: #ffffff;
    --secondary-background-color: rgba(160, 160, 160, 0.1);
    --tertiary-background-color: #eeeeee;

    /* font-sizes */
    --font-size-extra-large: 40px;
    --font-size-master: 26px;
    --font-size-master-sub: 24px;
    --font-size-header: 20px;
    --font-size-default: 16px;
    --font-size-secondary: 14px;
    --font-size-tertiary: 12px;

    /* font colors */
    --primary-font-color: #000000;
    --secondary-font-color: #a0a0a0;
    --light-font-color: #ffffff;

    /* values */
    --border-radius: 0.2rem;
    --rounded-border-radius: 50px;
    --transition-duration: 0.3s;
    --textfield-height: 40px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--disabled-color);
    border-radius: var(--border-radius) var(--border-radius);
}