.notifyWrapper {
    width: 300px;
    min-height: 50px;
    max-height: 100px;
    overflow: hidden;
    background: var(--primary-background-color);
    position: fixed;
    box-shadow: 0 0 10px 0 var(--overlay-color);
    border-radius: 3px;
    padding: 15px 40px 15px 15px;
    font-size: var(--font-size-secondary);
    top: -100%;
    z-index: var(--z-index-notify);
    right: calc(50% - 150px);
    transition: top 0.2s ease-in;
    word-break: break-all;
}

.notifyActive {
    top: 30px;
}

.messageHolder {
    text-overflow: ellipsis;
    max-height: 100px;
    overflow: auto;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.closeIcon:hover {
    opacity: 0.8;
}
