.inputFieldWrapper {
    width: 100%;
}

.inputField,
.label {
    display: block;
}
.label {
    font-size: var(--font-size-secondary);
    font-weight: 600;
    margin-bottom: 5px;
}
.inputField {
    height: var(--input-field-height);
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-darker-color);
    transition: all var(--transition-duration);
}
.inputField:hover {
    border-color: var(--border-accent-color);
}
.inputField:focus {
    border: 1px solid var(--border-accent-color);
    outline: none;
}
::placeholder {
    /* Most modern browsers support this now. */
    color: var(--secondary-font-color);
}

.helperText {
    font-size: var(--font-size-tertiary);
    margin-top: 2px;
    font-weight: 400;
    color: var(--tertiary-font-color);
}

.shadowBorderField {
    border: 1px solid transparent;
    box-shadow: var(--shadow);
}
