.metaCard {
    width: 100%;
    height: 90px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background-color);
}

.pageInformationSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.cardTitle {
    font-size: var(--font-size-default);
    font-weight: 600;
}

.cardSecondaryText {
    color: var(--secondary-font-color);
    font-size: var(--font-size-secondary);
    font-weight: 400;
}

.cardActions {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
