input,
label {
    display: block;
}
label {
    font-size: small;
    font-weight: 500;
    margin-bottom: 5px;
}
.textField {
    height: 40px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--disabled-color);
    transition: all var(--transition-duration);
}
.textField:hover {
    border-color: var(--disabled-darker-color);
}
.textField:focus {
    border: 1px solid var(--default-color);
    outline: none;
}
::placeholder {
    /* Most modern browsers support this now. */
    color: var(--disabled-color);
}
.fullWidth {
    width: 100%;
}

/* TEXTFIELD VARIANTS */
.successField {
    border: 1px solid var(--success-color);
}
.dangerField {
    border: 1px solid var(--danger-color);
}
.warningField {
    border: 1px solid var(--warning-color);
}

.helperText {
    font-size: 0.7em;
    margin-top: 2px;
    font-weight: 400;
    color: var(--disabled-darker-color);
}
