.table {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: 0 0 5px 0 gray;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.headerCell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.bodyCell {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
