.table {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    background-color: aqua;
}

.row {
    background-color: var(--white-color);
    display: grid;
}

.bodyCell {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-secondary);
}

.greyBackground {
    background-color: var(--secondary-background-color);
}

.whiteBackground {
    background-color: var(--tertiary-background-color);
}
