.salesPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 55px 95px 1fr;
}

.tabBarWrapper {
    width: 100%;
    height: 50px;
}

.metaCardWrapper {
    width: 100%;
    height: 90px;
}

.tableWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}