.salesPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 90px 1fr;
    gap: 10px;
}

.tabBarWrapper {
    width: 100%;
    height: 100%;
}


.metaCardWrapper {
    width: 100%;
    height: 100%;
}

.tableWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}