.inventoryPage {
    width: 100%;
    height: auto;
    position: relative;
}

.pageWrapper {
    width: 100%;
    height: calc(100vh - 50px);
}

.tabBarWrapper {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: var(--z-index-tab-bar);
}
