.checkoutWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary-background-color);
}

.checkoutBillPreviewWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--tertiary-background-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0;
}

.checkoutBillPreviewHolder {
    width: 90%;
    height: auto;
}

.checkoutBillingDetailsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    gap: 25px;
}

.calculationEntry {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: var(--font-size-header);
}