.leftNavWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    padding-right: 0;
    user-select: none;
}

.contentWrapper {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.storeNameHolder {
    width: 100%;
    font-size: var(--font-size-master-sub);
    font-weight: bold;
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.navItem {
    width: 90%;
    height: 50px;
    margin: 0 5% 20px 5%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.navItem:hover {
    background-color: var(--tertiary-background-color);
}

.navItemActive {
    background-color: var(--tertiary-background-color);
}

.navIcon {
    font-size: var(--font-size-master-sub);
    margin-right: 15px;
    margin-top: 3px;
}

.navTitle {
    font-size: var(--font-size-default);
    text-transform: capitalize;
}