.leftNavWrapper {
    width: 100%;
    height: 100%;
    user-select: none;
}

.contentWrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: var(--primary-background-color);
}

.storeNameHolder {
    width: 100%;
    height: 70px;
    font-size: var(--font-size-header);
    font-weight: 700;
    pointer-events: none;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.storeNameHolderSubtitle {
    font-size: var(--font-size-tertiary);
    font-weight: 500;
}

.navItem {
    width: 100%;
    height: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.navItem:hover {
    background-color: var(--tertiary-background-color);
}

.navItemActive {
    background-color: var(--tertiary-background-color);
}

.navIcon {
    font-size: var(--font-size-master-sub);
    margin-right: 15px;
    margin-top: 3px;
}

.navTitle {
    font-size: var(--font-size-default);
    text-transform: capitalize;
}

.navSubHeading {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: var(--font-size-secondary);
    font-weight: 600;
}
